<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      Marcel Irawan
    </title>
    {% load static %}
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type='text/css'>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  </head>
  <body>

    <br>
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <div class="card card-body" id="profile-wrapper">
            <img id="profile-pic" src="{% static 'images/marcel1.jpg' %}">
            <hr>
            <h4>Hi I'm Marcel!</h4>
            <p>I'm a final year student at Gadjah Mada University</p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body">
            <h4>My College Story</h4>
            <hr>
            <p>For almost 4 year at college, I have experienced and learn many things.
            I never got any of this back when I'm in high school.
            I'm not the brightest nor the most briliant student, but I have the skill and eagernes to always learn.</p>

            <p>I'm excited to apply my knowlegde to build something that have meanings.
            Not just some cool app, but meaningful app that can solve real problem.</p>

            <p>For my final year project, my team build a geology portal to store
            field research data and serve it as geology map. This project collaborate
            with researcher from Geological Engineering.</p>

            <ul class="social-link">
              <li><img class="social" src="{% static 'images/instagram.png' %}" alt="instagram"></li>
              <li><img class="social" src="{% static 'images/linkedin.png' %}" alt="linkedin"></li>
              <li><img class="social" src="{% static 'images/telegram.png' %}" alt="telegram"></li>
              <li><img class="social" src="{% static 'images/gmail.png' %}" alt="gmail"></li>
            </ul>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-body">

          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body">

          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-body">

          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body">

          </div>
        </div>
      </div>

    </div>

  </body>
</html>
